@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 1vw;
}

html, body {
    background-image: url("../img/bg2.png");
    overflow:hidden;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas:focus{
    outline:none;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#split {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

#feed {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

#status {
    position: absolute;
    padding: 0.7vw;
    background:rgba(35, 35, 35, 0.7);
    color: #ccc;
    font-size: 1.1vw;
    top: 0.5vw;
    right: 0.5vw;
    text-align: center;
}

#status .title {
    font-size: 1.7vw;
}

#status .me {
    color: #FF8888;
    font-size: 1.1vw;
}

.chatbox {
    position: absolute;
    width: 18vw;
    height: 21vw;
    background:rgba(35, 35, 35, 0.7);
    bottom: 0.8vw;
    left: 0.5vw;
    pointer-events: none;
    overflow-y:hidden;
    overflow-x:hidden !important;
}

#instructions ul{
    padding: 5px;
    margin: 0;
    list-style: none;
}

.chatbox .chat-list {
    padding: 0.2vw;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 18.7vw;
    overflow-y:hidden !important;
    overflow-x:hidden !important;
    color:#ccc;
}

.chatbox .chat-list li {
    padding: 0.2vw;
    margin: 0.2vw;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.system {
    color: #666666;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5vw;
    background: transparent;
    border: none;
    border-top: 0.05vw solid #444;
    outline: none;
    color:#ccc;
}
#instructions{
    color:#777;
    text-align:center;
}
#startMenu {
    position: absolute;
    width: 36vw;
    padding: 1vw;
    padding-bottom:1vw;
    border-radius: 0.7vw;
    background-color: #111;
    box-sizing: border-box;
    color:#aaa;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 0px 0.3vw 0px rgba(255,255,255,0.55);
}

#startMenu p {
    padding: 0;
    text-align: left;
    font-size: 1.5vw;
    font-weight: 400;
    margin:0;
    margin-bottom:1vw;
    margin-top:0.5vw;
    margin-left:0.7vw;
}

#settings label{
    width:110px;
    display:block;
    float:left;
    font-size:12px;
    color:#333;
    cursor:pointer;
    line-height:1.42857143;
}

#playerNameInput {
    width: 100%;
    text-align: left;
    padding: 0.6vw;
    border: 0.05vw solid #333;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 0.2vw;
    height:2vw;
    line-height:1.42857143;
    color: #ccc;
    background:#222;
    box-sizing:border-box;
    vertical-align:middle;
}
select{
    width:35%;
    background:#222;
    color: #888;
    border: 0.05vw solid #333;
    border-radius:0.2vw;
    height:2vw;
    vertical-align:middle;
    padding-left:0.5vw;
    float:right;
}

#playerNameInput:focus, #playerNameInput.focus, #gamemode:focus, #gamemode.focus {
    border-color: #444;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 102, 102, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 102, 102, .6);
}

#startButton, #settingsButton, #skinsButton {
    margin: auto;
    width: 100%;
    height: 2vw;
    font-size: 1vw;
    color: #357ebd;
    text-align: center;
    background:transparent;
    border: 0.1vw solid #357ebd;
    cursor: pointer;
    border-radius: 0.2vw;
    transition:0.3s all;
    margin-top:0.6vw;
    margin-bottom:0.5vw;
}
#startButton{
    margin-right:10px;
}
#startsutton:active, #startButton:hover {
    background: #357ebd;
    color:#111;
}

#skinsButton{
    background-color: transparent;
    border: 2px solid #46b8da;
    color:#46b8da;
}

#settingsButton:active, #settingsButton:hover, #skinsButton:active, #skinsButton:hover {
    background-color: #46b8da;
    color:#111;
}

#settings, #startMenuWrapper {
    overflow: hidden;
}

#settings {
    max-height: 0;
    margin-bottom:10px;
    margin-top:10px;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 0.5vw;
    padding: 0.5vw;
    margin-top: 0;
}

#startMenu .input-error {
    color: red;
    opacity: 0;
    font-size : 12px;
}

#startMenuWrapper {
    z-index: 2;
}

#msgshow{
    z-index:99;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:inline-block;
    color:#fff;
    font-size:10vw;
    text-align:center;
    visibility:hidden;
}
#msgshow #botp{
    font-size:5vw;
    font-weight:bold;
    text-shadow:
    -0.2vw -0.2vw 0 #000,  
     0.2vw -0.2vw 0 #000,
     -0.2vw 0.2vw 0 #000,
      0.2vw 0.2vw 0 #000;
    display:block;
}

.m-rainbow{
    animation:rainbow 1s infinite;
}

@keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

hr{
    border:0;
    border-top:0.05vw solid #666;
    height:0.05vw;
}

@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
	}
}

@media only screen  and (max-width : 1224px) {
#chatbox {
display: none;
        }
}
